@pie:registry=https://artifacts.cicd.pieinsurance.com/repository/npm/
registry=https://registry.npmjs.org/
always-auth=true
_auth=bnBtLnJlYWRvbmx5OjlxODdmb2YxNFRRR0pFaDJUek41R1BwM2c=
email=devops@pieinsurance.com
